/*first row*/
body{
    margin: 0;
    padding: 0;
    background: url('../images/para.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*bg image*/
.nav .bgimg{
     background-image: url('../images/final.jpg');
    background-size: cover;    
    background-position:center;
    background-repeat: no-repeat;
    height:700px;
    width: 100%;
}

.nav section{
    position: relative;
}

header{
    padding: 0 100px;
    height: 80px;
    box-sizing: border-box;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: .5s;
}

ul{
    position: sticky;
    margin-top: -100px;
    display: flex;
    float: right;    
}

.course{
    display: none;
}

.courses{
    display: inline-grid;
    position: relative;
    z-index: 100;
    background-color: 	#071024;
    transition: .5s;
    width: 300px;
    height:550px;
    margin: 0px;
    padding: 0px;
    text-align: center;    
}

.course li a{
    color: white;
    transition: .9s;
    height: 50px;
    text-align: center;
}

.course li{
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 60px;
}

.course li a:hover{
    color: black;
}

.course li:hover{
    background-color: deeppink;
}

ul li{
    list-style: none;
}

ul li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    color: #262626;
    transition: .5s;
    float: left;
    font-weight: bolder;
    font-size: 1.2em
}

ul li a:hover{
    color: white;
}

ul li:hover{
    background-color:#030b27;
    color: white;
    display: block;
}

.btn-black{
    height: 40px;
    background: none;
    display: block;
    margin-top: -60px;
    float: right;
    margin-right:justify;
    display: none;
    font-size: 1.5em;
}

/*code to make responsive nav bar*/
@media (max-width: 1000px){
    header{
        padding: 0 20px;
    }
    .btn-black{
        display: block;
    }
    .btn-black:hover{
    background-color: #000;
    color: white;
}
    header ul li{
        height: 55px;
        
    }
    headedr ul li a{
        font-weight: bolder;
    }
    
    header ul{
        display: grid;
        font-size: 0.8em;
        display: none;
        width:250px;
        height: 340px;
        margin-top:10px;
        background: wheat;
        padding: -20px;
        margin: -12px;
        z-index: 20;
        float: left;
        text-align: center;
        transition: 0.9s;
    }
    header ul.active{
        display: inline-grid;
    }
    .fac{
    margin-top: 850px
}
}

/*COLLEGE HEADING*/
.jumbotron{
    z-index: 0;
    text-align:center;
    margin: 0 auto;
    width: 40%;
    background-color: #011f4b;
    min-height: 250px;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 90px;
    opacity: 0.9;
    color:white;
    position:absolute;
    font-family: 'Signika', sans-serif;
}

.jumbotron h3{
    color: lightblue;
    text-align: right;
    font-size: 1.5em;
}

/*about college row class*/
.means{
    height: 450px;
    position: relative;    
}

/*about college, tjps fpcounders coloumn*/
.means .col-sm-3{
    background: url('../images/fix.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border: 3px solid black;
    height: 420px;
    padding: 2px;
    align-content: center;
    }
.means .col-sm-3 img{
    margin: 50px;
}
.means .col-sm-3 p{
    font-weight: bolder;
    margin-top:-40px;
    margin-left: 20px;
    background-color: burlywood;
    font-size: 1.4em;
    width: 65%;
    text-align: center;
    border-radius: 10px;
}
.means .col-sm-6{
    background: url('../images/fini.jpg');
    background-position: center;
    background-size: cover;
    height: 420px;
    margin: 0 auto;
}

.col-sm-6 h1{
  background-color:#394856;
    color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
}

.col-sm-6 h4{
   color:black;
    font-size: 1.2em;
    padding: 3px;
    box-sizing: border-box;
    font-weight: 200;
    font-family: 'Roboto Slab', serif;
}

.fac{
    padding: 5px;
    position: relative;
    text-align: center;
    height: 300px;
    
}

.fac .col-sm-6 p{
    font-size: 3em; color: white;    
}

hr{
    height: 3px;
    background-color: white;
}
.fac{
    height: 300px;
    width: 1330px;
    margin-left: auto;
   overflow: hidden;
    position: relative;
}

.fac > .box{
    position: relative;
    width: calc(400px - 30px);
    height:calc(300px - 30px); 
    float: left;
    background-color:khaki;
    margin: 25px;
    box-sizing: border-box;
    border-radius: 15px;
}

.fac > .box > .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f00;
    transition: 0.5s;
    z-index: 1;
    border-radius: 15px;
    
}

.fac .box:hover .icon{
    top:20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.fac .box .icon .fa{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    transition: .5s;
    color: #fff;
}

.fac .box:hover .icon .fa{
    font-size: 1.5em;
}
.fac .box:hover .content{
    top: 100px;
    opacity: 1;
}
.fac .box .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
}

.fac .box .content h4{
    margin: 0;
    padding: 0;
    color: navy;
}

.fac .box:nth-child(1) .icon{
    background-color: #4980af;
}

.fac .box:nth-child(1){
    background-color: #5d9cd3;
}

.fac .box:nth-child(2){
    background-color: #51d87c;
}

.fac .box:nth-child(2) .icon{
    background-color: #1ac182; 	
}
.fac .box:nth-child(3){
    background-color: #ff861d;
}
.fac .box:nth-child(3) .icon{
    background-color: #fb7125;
}

.eve {
    height: 300px;
    background-color: aqua;
  
}
.eve .col-sm-6{
    background-color: antiquewhite;
     height: 300px;
    
}
.eve .col-sm-3{
    background-color: bisque;
    
    height: 300px;
}
.eve-com{
    height: 350px;
   
}
.eve-com .col-sm-4{
    height: 350px;
    border: 3px solid black;
    background: rgb(255,255,255, 0.5);
    padding: 30px;
    align-content: center;
}
.eve-com .col-sm-4 button{
    margin-left: 150px;
    background: none;
    color: black;
    font-weight: bolder;
}
/* .eve-com .col-sm-4 button:hover{
    background-color: 
} */

.eve-com .col-sm-4 input:hover{
    border: 4px solid cyan;
}
.eve-com .col-sm-4 input{
    background: none;
    background-color: none;
    height: 35px;
    width: 200px;
    color: white;
    font-weight: bolder;
}
.eve-com .col-sm-4 textarea:hover{
    border: 3px solid cyan;
   color: white;
    font-weight: bolder;
}
.eve-com .col-sm-4 textarea{
    margin-top: 20px;
    background: none;
}
.eve-com .col-sm-8{
    background: rgb(255,255,255,.6);
    height: 350px;
border: 4px solid black;
}
.eve-com .col-sm-8 form{
    padding: 10px;
}
/* .eve-com .col-sm-8 form h2{
    
} */
.add{
    height: 350px;
    background-color: beige;
    padding: 10px;
}